body, html, p{
   margin: 0px;
   padding: 0px;
   font-family: 'Roboto', sans-serif;
}

span { font-family: 'Roboto', sans-serif; font-weight: 300;}
h1, { font-family: 'Roboto', sans-serif; font-weight: 700;}
h2 { font-family: 'Roboto', sans-serif; font-weight: 500; padding: 0px; margin-bottom: 20px; font-size: 27px;}

ul li {display: inline-flex; margin: 0px; padding-right: 15px; }
ul.link-input-article {margin: 0px; padding: 0px ;}
ul {margin-top: 0px;}

a {text-decoration: none; font-size: 15px; color:#A9A9A9;}

ul.link-input-article { height: 100%;}

hr {background-color: #A9A9A9; height: 1px; border: 0px;}

.wrapper {
   width: 1000px;
   margin: 0 auto;
}

.wrapper-fil {
   width: 720px;
   margin: 0 auto;
}

.page-full {
   height: 100vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-image: url('../img/bg10.jpg');
   background-position: top;
}

.content-page {
   text-align: center;
   color: white;
}

.form-loginPage-style {
   display: flex;
   justify-content: center;
}


.link-add-compte {
   color: white;
   font-size: 15px;
   text-decoration: none;
   border-bottom: solid 1px white;
}

/*---------------------------------------------------------------------------*/
header {
   height: 70px;
   width: 100vw;
   background-color: #4F8033;
   line-height: 70px;
   color: white;
}

nav {
   display: flex;
   position: relative;
}

.logo {
   color: white;
   font-size: 22px;
   padding-right: 50px;
   background-color: #4F8033;
}

.nav-right-content {
   height: 70px;
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.post-content {
   color: #111213;
   font-size: 25px;
   margin-top: 30px;
   position: relative;
}
.element-input-article {
   width: 510px;
}

.icon-input {
   font-size: 15px;
   float: right;
}
/*---------------------------------------------------------------------------*/

.post-name {
   color: black;
   display: inline;
   background-color: white;
   padding-left: 40px;
   font-family: 'Roboto', sans-serif; font-weight: 700;

}

.post {
   border-radius: 5px;
   background-color: #FAFAFA;
   height: 180px;
   margin: 30px 0px;
   padding-top: 30px;
}

.post-full {
   margin-top: 30px;
}

.post-article {
   background-color: #FAFAFA;
   text-align: justify;
   font-size: 16px;
   line-height: 20px;
   color: black;
   font-family: 'Roboto', sans-serif; font-weight: 300;
   padding: 15px 40px;
   box-sizing: border-box;
}

.post-name {
   background-color: #FAFAFA;
}

.post-date {
   float: right;
   padding-right: 40px;
   font-family: 'Roboto', sans-serif; font-weight: 300;
   color: grey;
   font-size: 13px;
}
.post-tools:hover{
   color: black;
}